<mat-card>
    <mat-card-header class="card-header">
        <mat-card-subtitle class="card-margin">Using the encounter simulator</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-margin">
        <p class="card-content">The encounter simulator is a tool intended for dungeon masters and players alike to track their combat encounters while playing Dungeons & Dragons.</p>
        <mat-divider></mat-divider>
        <p class="card-content">Users can create and manage their characters before selecting characters for combat, rolling initiative, and simulating the entire encounter.</p>
        <mat-divider></mat-divider>
        <p class="card-content">During the combat, each turn can be "recorded" by selecting an action, target, and value. Optionally, enter some flavor text for the action.</p>
        <mat-divider></mat-divider>
        <p class="card-content">All actions and rounds are tracked and logged, and all combat encounters can be reviewed.</p>
    </mat-card-content>
</mat-card>