<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <mat-select placeholder="Select an action" formControlName="actionType">
            <mat-option *ngFor="let action of allActionTypes" [value]="action">{{action.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select a target" formControlName="target" [(ngModel)]="characterId">
            <mat-option *ngFor="let character of characters" [value]="character.id">{{character.name}}</mat-option>
            <mat-option value="-1">Other</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" placeholder="Enter a value" formControlName="value" />
        <mat-hint align="end"></mat-hint>
    </mat-form-field>
    <!--
    <mat-form-field>
        <mat-chip-list #statusChipList formControlName="statuses">
            <mat-chip *ngFor="let status of statuses"
                      class="chip"
                      selected="true"
                      removable="true"
                      (removed)="remove(status)"
                      matTooltip="{{status.description}}">
                {{status.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Inflict statuses"
                   #statusInput
                   [formControl]="statusCtrl"
                   [matAutocomplete]="statusAutocomplete"
                   [matChipInputFor]="statusChipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #statusAutocomplete (optionSelected)="selected($event)">
            <mat-option *ngFor="let status of filteredStatuses | async" [value]="status.name">
                {{status.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    -->
    <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Enter some flavor text" formControlName="flavor"></textarea>
    </mat-form-field>
</mat-dialog-content>
