<div class="sidenav-bar">
    <!--<div><span class="nav-item" routerLink=""><img class="logo" src="assets/lyelt-logo.png"></span></div>-->
    <a class="nav-item" routerLink="encounter" routerLinkActive="active">Start Encounter</a>
    <a class="nav-item" routerLink="manage" routerLinkActive="active">Manage Characters</a>
    <a class="nav-item" routerLink="options" routerLinkActive="active">Game Options</a>
    <a class="nav-item" routerLink="review" routerLinkActive="active">Review Battles</a>
    <a class="nav-item" routerLink="statistics" routerLinkActive="active">Character Stats</a>
    <a class="nav-item" routerLink="about" routerLinkActive="active">About</a>
</div>