@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
//@import "./lyelt-theme.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-family: 'Raleway', 'Arial';
}

ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar-row {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
  display: flex;
}
