<mat-accordion class="example-headers-align">
    <div class="container-horizontal">
        <mat-icon [matBadge]="turnsElapsed" matBadgeColor="accent" matTooltip="{{turnsElapsed}} individual turn(s) elapsed">person</mat-icon>
        <mat-icon [matBadge]="roundsElapsed" matBadgeColor="accent" matTooltip="{{roundsElapsed}} complete round(s) elapsed">autorenew</mat-icon>
        <mat-icon [matBadge]="timeElapsed" matBadgeColor="accent" matTooltip="{{timeElapsed}} in-game second(s) elapsed">access_time</mat-icon>
    </div>
    <mat-expansion-panel *ngFor="let character of characters; let i = index" [expanded]="step === i" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="spinner-wrapper">
                    <mat-progress-spinner *ngIf="step === i" color="accent" mode="indeterminate" [diameter]="20"></mat-progress-spinner>
                </div>
                {{i+1}}. {{character.name}}
            </mat-panel-title>
            <mat-panel-description>
                <div>
                    <mat-icon matTooltip="Current HP / Max HP">favorite_border</mat-icon>
                    {{character.currentHP}} / {{character.maxHP}}
                </div>

                <div>
                    <mat-icon matTooltip="Armor Class">security</mat-icon>
                    {{character.ac}}
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="container-vertical">
            <mat-form-field>
                <mat-select placeholder="Select an action">
                    <mat-option *ngFor="let action of actions" [value]="action.id">{{action.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Select a target">
                    <mat-option *ngFor="let character of characters" [value]="character.id">{{character.name}}</mat-option>
                    <mat-option value="-1">Other</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Enter a value" />
                <mat-hint align="end">hint</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-chip-list #statusChipList>
                    <mat-chip *ngFor="let status of statuses"
                              class="chip"
                              selected="true"
                              removable="true"
                              (removed)="remove(status)"
                              matTooltip="{{status.description}}">
                        {{status.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Inflict statuses"
                           #statusInput
                           [formControl]="statusCtrl"
                           [matAutocomplete]="statusAutocomplete"
                           [matChipInputFor]="statusChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #statusAutocomplete (optionSelected)="selected($event)">
                    <mat-option *ngFor="let status of filteredStatuses | async" [value]="status.name">
                        {{status.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Enter some flavor text"></textarea>
            </mat-form-field>
        </div>

        <mat-action-row>
            <button mat-raised-button color="primary" (click)="saveAction()">Another Action</button>
            <span class="spacer"></span>
            <button mat-raised-button color="accent" (click)="endTurn()">End Turn</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
