<div class="container container-vertical">
    <h1>Manage Characters</h1>
    <mat-table [dataSource]="availableCharacterSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let character">
                <mat-icon matTooltip="Options" [matMenuTriggerFor]="characterMenu">more_vert</mat-icon>
                <mat-menu #characterMenu="matMenu">
                    <button mat-menu-item (click)="openDialog(character)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteCharacter(character.id, true)">
                        <mat-icon>archive</mat-icon>
                        <span>Archive</span>
                    </button>
                    <button mat-menu-item (click)="deleteCharacter(character.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-icon (click)="openDialog()" matTooltip="Add a new character">add</mat-icon>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let character">{{character.name}} ({{character.owner == null ? 'NPC' : character.owner}})</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="maxHP">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Max HP</mat-header-cell>
            <mat-cell *matCellDef="let character">{{character.maxHP}}</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="ac">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Armor Class</mat-header-cell>
            <mat-cell *matCellDef="let character">{{character.ac}}</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="speed">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Speed</mat-header-cell>
            <mat-cell *matCellDef="let character">{{character.speed}}</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="dexModifier">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Dex Modifier</mat-header-cell>
            <mat-cell *matCellDef="let character">{{character.dexModifier}}</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="availableCharacterHeaders"></mat-header-row>
        <mat-row *matRowDef="let row; columns: availableCharacterHeaders;" class="character-row"></mat-row>
        <mat-footer-row *matFooterRowDef="availableCharacterHeaders"></mat-footer-row>

    </mat-table>

    <div>
        <button mat-raised-button color="warn" class="show-btn" (click)="showArchived = !showArchived">{{showArchived | hideShow}} Archived Characters</button>
    </div>

    <mat-table *ngIf="showArchived" [dataSource]="archivedCharacterSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let character">
                <mat-icon matTooltip="Options" [matMenuTriggerFor]="archiveMenu">more_vert</mat-icon>
                <mat-menu #archiveMenu="matMenu">
                    <button mat-menu-item (click)="restore(character.id)">
                        <mat-icon>unarchive</mat-icon>
                        <span>Restore</span>
                    </button>
                    <button mat-menu-item (click)="deleteForever(character.id)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Delete Forever</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Archived Characters</mat-header-cell>
            <mat-cell *matCellDef="let character">
                {{character.name}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="archivedCharacterHeaders"></mat-header-row>
        <mat-row *matRowDef="let row; columns: archivedCharacterHeaders;" class="character-row"></mat-row>

    </mat-table>
</div>