<h2 mat-dialog-title>Create New Character</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field class="fullWidth">
        <input matInput placeholder="Name" formControlName="name" value="{{character.name}}" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <input type="number" matInput placeholder="Speed" formControlName="speed" value="{{character.speed}}" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <input type="number" matInput placeholder="Armor Class" formControlName="ac" value="{{character.ac}}" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <input type="number" matInput placeholder="Max HP" formControlName="maxHP" value="{{character.maxHP}}" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
        <input type="number" matInput placeholder="Dex Modifier" formControlName="dexModifier" value="{{character.dexModifier}}" />
    </mat-form-field>

    <table class="fullWidth" cellspacing="0">
        <tr>
            <td>
                <mat-checkbox matInput [(ngModel)]="isNpc" [ngModelOptions]="{standalone: true}" (change)="checkNpc()" labelPosition="after">NPC</mat-checkbox>
            </td>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Owner" formControlName="owner" value="{{character.owner}}" />
                </mat-form-field>
            </td>
        </tr>
    </table>

</mat-dialog-content>

<mat-dialog-actions align="right">
    <button class="mat-raised-button" (click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>